{% extends "main.html" %}

{% block content %}

    <h1 class="my-4">Keyminator</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Мои последовательности</h4>
          <div class="card-body">
            <p class="card-text">Выбирай любую и тренируйся</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'dictionary:order_list' %}" class="btn btn-primary">Играть</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Мои настройки</h4>
          <div class="card-body">
            <p class="card-text">Регулировать настройки игры</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'users:update' %}" class="btn btn-primary">Настройки</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Все слова</h4>
          <div class="card-body">
            <p class="card-text">Загрузить новый словарь</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'dictionary:word_list' %}" class="btn btn-primary">Словарь</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->




    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Гибкий тренажер для слепой печати. Создавай свои последовательности и тренируйся по ним</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="{% url 'dictionary:order_list' %}">Играть</a>
      </div>
    </div>


{% endblock %}
